<div class="todo-container">
  <h1>Todo List</h1>

  <label for="todoInput" class="visually-hidden">New Todo</label>
  <input
    id="todoInput"
    [(ngModel)]="todoText"
    placeholder="Add new task"
    title="Add new task"
  />
  <button (click)="addTodo()">Add</button>
  <!-- <button (click)="addTodo()" [disabled]="!todoText || !todoText.trim()">Add</button> -->


  <ul>
    <li
      *ngFor="let todo of todos; let i = index"
      [class.completed]="todo.completed"
    >
      <!-- Wrapper for checkbox and text -->
      <div class="todo-main">
        <input
          type="checkbox"
          [checked]="todo.completed"
          (change)="toggleCompleted(i)"
          aria-label="Mark todo as complete"
        />

        <ng-container *ngIf="!todo.editing">
          <span>{{ todo.text }}</span>
        </ng-container>

        <ng-container *ngIf="todo.editing">
          <input
            [(ngModel)]="todo.text"
            class="edit-input"
            title="Edit task text"
          />
        </ng-container>
      </div>

      <!-- Buttons -->
      <div class="button-group">
        <button *ngIf="!todo.editing" (click)="editTodo(i)">Edit</button>
        <button *ngIf="todo.editing" (click)="saveTodo(i)">Save</button>
        <button (click)="deleteTodo(i)" title="Delete this task">Delete</button>
      </div>
    </li>
  </ul>
</div>